<a href="<%= paypal_checkout_orders_checkout_url @checkout.order, :integration_id => integration %>" style="text-align: center;">
  <img src="https://www.paypalobjects.com/en_GB/i/bnr/horizontal_solution_PP.gif" align="left" style="margin-right:7px;"/>
</a>
